.about-mission {
  font-family: "Source Sans Pro", sans-serif;
}
.about-mission .about-us-view {
  background-color: rgba(0, 77, 67, 0.3);
}

.our-mission-view {
  background-color: rgba(218, 203, 71, 0.3);
}

.our-mission-view .mission-item {
  margin: 0px;
}
