.swiper-slide img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 600px;
  width: 100%;
  z-index: 1;
}

.image_view {
  position: relative;
}

.swiper-slide .image_view img {
  height: 500px;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heroSwiper {
  margin: 50px 0px 20px 0px;
}

.heroSwiper .swiper-pagination-bullets {
  bottom: 0px;
  left: 0px;
  width: unset;
}

.heroSwiper span.swiper-pagination-bullet {
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

.overlay {
  background-color: #0000007a;
  z-index: 2;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mobile-hero-text {
  display: none;
}

.banner_text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.banner_text h3 {
  font-size: 40px;
  font-weight: 700;
}

.banner_text p {
  font-size: 20px;
}

.swiper-button-prev.swiperButtonPrev {
  left: 0px;
}

.swiper_slider .swb {
  background-color: rgb(84, 179, 84);
  border-radius: 50%;
  font-size: 10px;
  height: 30px;
  width: 30px;
}

.swiper_slider .swb::after {
  font-size: 15px;
  color: white;
}

.swiper_slider .swb:hover {
  background-color: white;
}
.swiper_slider .swb:hover::after {
  color: rgb(84, 179, 84);
}

.slider_1 #hero_text {
  transform: unset !important;
  opacity: unset !important;
}

@media (max-width: 768px) and (min-width: 500px) {
  div.mobile-hero-text {
    padding: 25px 40px;
  }
  .mobile-hero-text h3.title {
    font-size: 40px;
  }
  .image_view .mobile-hero-text p {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .swiper_slider {
    display: none;
  }
  .mobile_home_banner img {
    height: 400px;
    width: 100%;
  }
  .mobile_home_banner {
    position: relative;
  }
  .hero_banner {
    padding-top: 80px;
  }
  .mobile_home_banner .overlay {
    border-radius: 0px;
  }
  .mobile_home_banner .text-content {
    background-color: white;
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
  }
  .mobile_home_banner .text-content p {
    text-align: center;
    line-height: 23px;
  }
  .mobile_home_banner .text-content h4 {
    display: flex;
    margin: 0px auto;
    font-weight: 600;
    font-size: 20px;
  }
  .mobile_home_banner .text_wrapper {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    z-index: 10;
  }
  .mobile-hero-text {
    display: block;
    position: absolute;
    z-index: 4;
    left: 0px;
    color: white;
    padding: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  .mobile-hero-text h3 {
    font-size: 30px;
    font-weight: bold;
  }

  .swiper-slide
    img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: 500px;
  }

  .mobile-hero-text p {
    font-size: 18px;
    line-height: 24px;
  }
}
