.blog_view_page {
  margin: 80px auto 0px;
  background-color: white;
}

.blog_view_page h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 0px 0px 40px;
}

.blog_image_view {
  margin-top: 20px;
  width: 100%;
}

.blog_image_view img {
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  max-height: 700px;
}

.blog_text-content {
  font-family: "Source Sans Pro", sans-serif;
  margin: 60px 0px;
}

.blog_text-content p,
.blog_text-content li {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 28px;
}

.blog_text-content ul {
  margin: 0px 25px;
}

.blog_text-content li {
  margin: 15px 0px;
}

/* post tag */
.tags {
  position: sticky;
}
.tags h6 {
  font-size: 16px;
  font-weight: 500;
}
.post-tag {
  background-color: #004d43;
  color: white;
  border-radius: 10px;
  padding: 1px 10px;
}

.post-tag:hover {
  opacity: 0.7;
}

/* other-post-view */
.other-post-view {
  color: black;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 120px;
}
.other-post-view .thumbnail img {
  height: 120px;
  width: 120px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.other-post-view h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
}
.other-post-view p {
  font-size: 16px;
  line-height: 18px;
}

.other-post-view:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .blog_view_page h2 {
    font-size: 24px;
    margin: 10px auto;
  }
  .blog_image_view img {
    max-height: 400px;
  }
  .other-post-view h6 {
    font-size: 16px;
  }
  .other-post-view p {
    font-size: 13px;
  }
}
