.medium-post {
  margin-top: 120px;
  padding-bottom: 80px;
  background-color: white;
}

.medium-post h3 {
  font-size: 30px;
  text-align: center;
  margin: 140px 0px 25px;
  font-weight: 600;
}

.medium-post .grid-post {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  margin: auto;
  justify-content: center;
}

.medium-post .post-view img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.post-text-content {
  height: 120px;
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.medium-post .post-view h6 {
  font-size: 18px;
  line-height: 20px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.medium-post .post-view p {
  font-size: 14px;
  justify-content: center;
}

.medium-post .post-view {
  text-decoration: none;
}

.medium-post .post-view p,
.medium-post .post-view h6 {
  color: black;
}

.medium-post a.post-view:hover h6,
.medium-post a.post-view:hover p {
  color: rgb(84, 179, 84);
}

.medium-post .pagination {
  display: flex;
  align-items: center;
  margin: 60px auto 0px;
  justify-content: center;
  gap: 30px;
}

.medium-post .pagination a,
.medium-post .pagination span {
  background: #f1f1f1;
  padding: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  border-radius: 10px;
  transition: 1s;
}

.medium-post .pagination span {
  background: rgb(84, 179, 84);
  color: white;
}

.medium-post .pagination a:hover {
  text-decoration: none;
  background-color: rgb(84, 179, 84);
  color: white;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .medium-post .grid-post {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .medium-post .grid-post {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 5px;
  }
  .medium-post .post-view img {
    width: 100%;
    height: 200px;
  }
  .medium-post {
    margin-top: 80px;
  }

  .medium-post h3 {
    margin: 40px auto 20px;
  }
  .post-text-content {
    height: 80px;
  }
  .medium-post .post-view h6 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .medium-post {
    margin-top: 60px;
  }
  .medium-post .grid-post {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  .medium-post .post-view img {
    height: 250px;
  }
  .post-text-content {
    height: unset;
  }
  .medium-post .post-view {
    margin: 20px 0px;
  }
}
