.page_contact-us {
  height: 800px;
}

.page_contact-us .left {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(251, 7, 7, 0.33));
}

.page_contact-us .left {
  height: 100%;
}

.page_contact-us p {
  font-size: 18px;
}

.page_contact-us .right {
  background: rgba(219, 204, 72, 0.933);
}

.page_contact-us input,
.page_contact-us select,
.page_contact-us textarea {
  border: 2px solid #454545;
}

.page_contact-us h3 {
  font-weight: 600;
}

/* FAQ */
.faq-item{
  
}


@media (max-width: 768px) {
  .page_contact-us {
    height: unset;
  }
  .home_contact_us .wp-block-column h4 {
    font-size: 16px;
  }
}

