.service_image img {
  height: 380px;
  width: 100%;
  border-radius: 10px;
}

.service h4 {
  font-weight: 700;
}

.service a {
  background-color: #004d43;
  color: white;
  width: fit-content;
}

.service p {
  font-size: 18px;
}

.service a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .service_image img {
    height: 300px;
    width: 100%;
  }
}
