.service {
  position: relative;
}

.service_image img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.service h4 {
  font-weight: 700;
}

.service a {
  background-color: rgb(84, 179, 84);
  color: white;
  width: fit-content;
}

.service p {
  font-size: 18px;
}

.service a:hover {
  text-decoration: none;
}

.service span.anchor {
  display: block;
  position: absolute;
  top: -100px;
}

@media (max-width: 768px) {
  .service_image img {
    height: 300px;
    width: 100%;
  }
}
