.service_image img {
  height: 380px;
  width: 100%;
  border-radius: 10px;
}

.service a {
  background-color: #004d43;
  color: white;
  width: fit-content;
}

.service a:hover {
  text-decoration: none;
}
