.whatsapp_icon_button {
  background-color: #23d366;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

button.whatsapp_icon_button:hover {
  opacity: 0.6;
  transform: rotate(360deg);
  transition: transform 600ms;
}

.whatsapp_icon_widget {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
}

.whatsapp_icon_widget.active {
  display: block;
  visibility: visible;
}

div.whatsapp_icon_widget.close {
  opacity: 1;
  display: block;
  visibility: visible;
}

.whatsapp_icon_widget .top {
  background-color: #23d366;
  color: white;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.whatsapp_icon_widget .footer {
  color: black;
  padding: 20px;
  border-top: 1px solid #e6e6e6;
}

.whatsapp_icon_widget .content {
  padding: 0px 20px;
}
.whatsapp_icon_widget:before {
  background-color: #fff;
}

.whatsapp_icon_widget:before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 24px;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}

.whatsapp_icon_widget a.customer-care {
  display: flex;
  align-items: center;
  color: black;
  margin: 15px 0px;
}

.whatsapp_icon_widget .icon {
  margin: 0px 20px;
  position: relative;
}

.whatsapp_icon_widget .icon img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #eee;
}

.whatsapp_icon_widget h5,
.whatsapp_icon_widget h3 {
  font-weight: 600;
}

.whatsapp_icon_widget a.customer-care:hover {
  background-color: #eee;
  text-decoration: none;
}

.whatsapp_icon_widget p {
  margin-bottom: 0px;
}

.whatsapp_icon_widget .icon svg {
  position: absolute;
  top: 0px;
  right: -5px;
  height: 20px;
  width: 20px;
}
